<!DOCTYPE html>
<html>
<head>
    <title>Your Public IP</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
        }
        h1 {
            font-family: monospace;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            font-size: 200%;
            font-weight: bold;
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h2>Your Public IP:</h2>
<h1>{{ ip }}</h1>
<hr>
<p>Other Formats:</p>
<ul>
    <li><a href="/text/">Plain Text</a></li>
    <li><a href="/json/">JSON</a></li>
    <li><a href="/xml/">XML</a></li>
</ul>
</body>
</html>
